<div class="navbar mb-2 shadow-lg bg-primary text-neutral-content rounded-box">
  <div class="flex-none">
    <LinkTo @route="index" class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current text-success">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
      </svg>
    </LinkTo>
  </div>
  <div class="flex-1 px-2 mx-2">
    <span class="text-lg font-bold">
      Error
    </span>
  </div>
</div>

<div class="alert alert-error">
  <div class="flex-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
    </svg>
    <label>Could not load the voucher data.</label>
  </div>
</div>
